@{
    ViewBag.Title = "Home Page";
}
<div class="body-inner">

    <div id="box-slide" class="owl-carousel owl-theme page-slider">

        <div class="item" style="background-image:url(../../Content/topsystec/images/topsystec/slider_1600x800_3.jpg)">
            <div class="container">
                <div class="box-slider-content">
                    <div class="box-slider-text">
                        <h2 class="box-slide-title">TopSystec</h2>
                        <h3 class="box-slide-sub-title">Soluções para Bairros</h3>
                        <p class="box-slide-description">
                            Seu bairro mais seguro! Com cameras de monitoramento de alta definição e
                            compartilhamento de informações na vizinhança.
                        </p>
                        <p>
                            <a href="services.html" class="slider btn btn-primary">Saiba mais</a>
                        </p>
                    </div>
                </div>
            </div>

        </div><!-- Item 1 end -->

        <div class="item" style="background-image:url(../../Content/topsystec/images/topsystec/slider_1600x800_1.jpg)">
            <div class="container">
                <div class="box-slider-content">
                    <div class="box-slider-text">
                        <h2 class="box-slide-title">TopSystec</h2>
                        <h3 class="box-slide-sub-title">Soluções para Empresas</h3>
                        <p class="box-slide-description">
                            Tudo o que sua empresa precisa para garantir sua segurança através
                            de monitoramento e modernização dos controles de acesso.
                        </p>
                        <p>
                            <a href="about.html" class="slider btn btn-primary">Saiba mais</a>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- Item 2 end -->

        <div class="item" style="background-image:url(../../Content/topsystec/images/topsystec/slider_1600x800_2.jpg)">
            <div class="container">
                <div class="box-slider-content">
                    <div class="box-slider-text">
                        <h2 class="box-slide-title">TopSystec</h2>
                        <h3 class="box-slide-sub-title">Soluções para Condominios</h3>
                        <p class="box-slide-description">
                            Seu condominio fica mais seguro com nossas cameras e o
                            controle de acesso fica mais rápido e confiável.
                        </p>
                        <p>
                            <a href="about.html" class="slider btn btn-primary">Saiba mais</a>
                        </p>
                    </div>
                </div>
            </div>
        </div><!-- Item 3 end -->

    </div><!-- Box owl carousel end-->


    <section class="call-to-action no-padding">
        <div class="container">
            <div class="action-style-box">
                <div class="row">
                    <div class="col-md-9">
                        <div class="call-to-action-text">
                            <h3 class="action-title">Conheça nossa Vigilância Colaborativa</h3>
                        </div>
                    </div><!-- Col end -->
                    <div class="col-md-3">
                        <div class="call-to-action-btn">
                            <a class="btn btn-primary" href="#">Conhecer</a>
                        </div>
                    </div><!-- col end -->
                </div><!-- row end -->
            </div><!-- Action style box -->
        </div><!-- Container end -->
    </section><!-- Action end -->

    <section id="ts-features" class="ts-features">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="ts-service-image-wrapper">
                        <img class="img-responsive" src="~/Content/topsystec/images/topsystec/img_servicos360x260_1.png" alt="">
                    </div>
                    <div>
                        <h3 class="service-box-title"><a href="service-single.html">Camêras de Alta Definição</a></h3>
                        <p>
                            A TOPSYSTEC auxilia sua empresa ou seu condomínio para que possam ter mais segurança usando a tecnologia como aliada, 
                            oferecendo instalação e manutenção desta solução.
                        </p>
                        <p>
                            @Html.ActionLink("Saiba mais...", "Equipamento", "Solucoes", null, new { @class = "" })
                        </p>
                    </div>
                </div><!-- Col 1 end -->

                <div class="col-md-4">
                    <div class="ts-service-image-wrapper">
                        <img class="img-responsive" src="~/Content/topsystec/images/topsystec//img_servicos360x260_4.png" alt="">
                    </div>
                    <div>
                        <h3 class="service-box-title"><a href="service-single.html">Sistema de Controle de Acesso</a></h3>
                        <p>
                            Praesent pretium sagittis vulputate. Phasellus tristique
                            dignissim enim, in aliquam ex convallis sit amet. Duis rutrum ornare justo,
                            a eleifend mauris sodales sit amet.
                        </p>
                        <p>
                            @Html.ActionLink("Saiba mais...", "Condominio", "Solucoes", null, new { @class = "" })
                        </p>
                    </div>
                </div><!-- Col 2 end -->

                <div class="col-md-4">
                    <div class="ts-service-image-wrapper">
                        <img class="img-responsive" src="~/Content/topsystec/images/topsystec//img_servicos360x260_3.png" alt="">
                    </div>
                    <div>
                        <h3 class="service-box-title"><a href="service-single.html">PABX IP</a></h3>
                        <p>
                            In ultricies
                            mattis augue, sed interdum velit aliquam eget. Nunc id eros mauris.
                            Nullam facilisis eget massa in euismod.
                        </p>
                        <p>
                            @Html.ActionLink("Saiba mais...", "Equipamento", "Solucoes", null, new { @class = "" })
                        </p>
                    </div>
                </div><!-- Col 3 end -->
            </div><!-- Content row end -->
        </div><!-- Container end -->
    </section><!-- Feature are end -->

    <section id="ts-service-area" class="ts-service-area">
        <div class="container">
            <div class="row text-center">
                <h2 class="section-title">Tecnologia é nossa Especialidade </h2>
                <h3 class="section-sub-title">Soluções Tecnologicas</h3>
            </div>
            <!--/ Title row end -->

            <div class="row">
                <div class="col-md-4">
                    <div class="ts-service-box">
                        <h3 class="service-box-title">@Html.ActionLink("SOLUÇÃO 1: Vizinhança colaborativa nos bairros", "VigilanciaSolidaria", "Solucoes", null, new { @class = "" })</h3>
                        <p>O seu bairro sendo uma referência de segurança na sua cidade! Este projeto é uma inovação inteligente de segurança.</p>
                    </div><!-- Service 1 end -->

                    <div class="ts-service-box">
                        <h3 class="service-box-title"><a href="#">SOLUÇÃO 2: Projeto Detecta</a></h3>
                        <p>Para dar maior eficiência ao planejamento do patrulhamento das vias públicas e das investigações criminais, 
                        São Paulo implementou o Detecta, sistema inteligente de monitoramento criminal. </p>
                    </div><!-- Service 2 end -->

                    <div class="ts-service-box">
                        <h3 class="service-box-title">@Html.ActionLink("SOLUÇÃO 3: Suporte Técnico de TI", "Empresa2", "Solucoes", null, new { @class = "" })</h3>
                        <p>A manutenção física de um servidor ou de um computador é tão importante quanto a manutenção do sistema para garantir o bom desempenho da máquina. </p>
                    </div><!-- Service 3 end -->

                </div><!-- Col end -->

                <div class="col-md-4 text-center">
                    <img class="service-center-img img-responsive" src="~/Content/topsystec/images/topsystec//img_centro_servicos3.png" />
                </div><!-- Col end -->

                <div class="col-md-4">
                    <div class="ts-service-box">
                        <h3 class="service-box-title"><a href="#">SOLUÇÃO 4: Equipamentos</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
                    </div><!-- Service 4 end -->

                    <div class="ts-service-box">
                        <h3 class="service-box-title"><a href="#">@Html.ActionLink("SOLUÇÃO 5: Consultoria de TI", "Empresa", "Solucoes", null, new { @class = "" })</h3>
                        <p>A TOPSYSTEC, como consultora, analisa possíveis soluções para resolver os pontos falhos quanto à tecnologia da informação.</p>
                    </div><!-- Service 5 end -->

                    <div class="ts-service-box">
                        <h3 class="service-box-title">@Html.ActionLink("SOLUÇÃO 6: Controle de acesso", "Empresa3", "Solucoes", null, new { @class = "" })</h3>
                        <p>A TOPSYSTEC é parceira comercial e técnica da empresa TRIX TECNOLOGIA, Empresa voltada para equipamentos de qualidade para controle de acesso. </p>
                    </div><!-- Service 6 end -->
                </div><!-- Col end -->
            </div><!-- Content row end -->

        </div>
        <!--/ Container end -->
    </section><!-- Service end -->
    <br />
    <br />
    <br />
    <div class="gap-40"></div>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                    <h3 class="column-title">Nossos parceiros em tecnologia e serviços</h3>

                    <div class="row all-clients">
                        <div class="col-sm-4">
                            <figure class="clients-logo">
                                <a href="#"><img class="img-responsive" src="~/Content/topsystec/images/logos/img_parceiros_195x105_microsoft.png" alt="" /></a>
                            </figure>

                        </div><!-- Client 1 end -->

                        <div class="col-sm-4">
                            <figure class="clients-logo">
                                <a href="#"><img class="img-responsive" src="~/Content/topsystec/images/logos/img_parceiros_195x105_dell.png" alt="" /></a>
                            </figure>
                        </div><!-- Client 2 end -->

                        <div class="col-sm-4">
                            <figure class="clients-logo">
                                <a href="#"><img class="img-responsive" src="~/Content/topsystec/images/logos/img_parceiros_195x105_ibm.png" alt="" /></a>
                            </figure>
                        </div><!-- Client 3 end -->

                        <div class="col-sm-4">
                            <figure class="clients-logo">
                                <a href="#"><img class="img-responsive" src="~/Content/topsystec/images/logos/img_parceiros_195x105_vip.png" alt="" /></a>
                            </figure>
                        </div><!-- Client 4 end -->

                        <div class="col-sm-4">
                            <figure class="clients-logo">
                                <a href="#"><img class="img-responsive" src="~/Content/topsystec/images/logos/img_parceiros_195x105_amazon.png" alt="" /></a>
                            </figure>
                            <img src="" />
                        </div><!-- Client 5 end -->

                        <div class="col-sm-4">
                            <figure class="clients-logo">
                                <a href="#"><img class="img-responsive" src="~/Content/topsystec/images/logos/img_parceiros_195x105_hikv.png" alt="" /></a>
                            </figure>
                        </div><!-- Client 6 end -->

                    </div><!-- Clients row end -->

                </div><!-- Col end -->

            </div>
            <!--/ Content row end -->
        </div>
        <!--/ Container end -->
    </section><!-- Content end -->

</div>
