
@model SiteDblv.Models.Contato

@{
    ViewBag.Title = "Contato";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<script type="text/javascript">$("#txtFoneFixo").mask("(00) 0000-0009");</script>

<script type="text/javascript">$("#txtCelular").mask("(00) 00000-0009");</script>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#modalMsg').modal('show');
        });
    </script>
}


<!-- Subhead
================================================== -->
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4">
                <h3><strong>@ViewBag.Title</strong></h3>
            </div>
            <div class="span8">
                <ul class="breadcrumb notop">
                    <li>
                        @Html.ActionLink("Início", "Index", "Home", null, new { @class = "navbar-brand" })
                        <span class="divider">/</span>
                    </li>
                    <li class="active">Contate-nos</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="maincontent">
    <div class="container text-center">
        <div class="row">
            <div class="span4">
                <aside>
                    <div class="widget">
                        <h4>Nossos canais de comunicação para você! </h4>
                        <ul>
                            <li>
                                <label><strong>Fone : </strong></label>
                                <p><a href="tel:+551198554-6222">+55 11 98554-6222</a></p>
                            </li>
                            <li>
                                <label><strong>Email: </strong></label>
                                <p>
                                    contato@dobleve.com.br
                                </p>
                            </li>
                            <li>
                                <label><strong>Endereço: </strong></label>
                                <p>
                                    Rua Itirapina, 690
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h4>Nossas redes sociais</h4>
                        <ul class="social-links">
                            <li><a href="https://www.facebook.com/doblevesistemas/" title="Facebook"><i class="icon-bg-light icon-facebook icon-circled icon-1x active"></i></a></li>
                            <li><a href="#" title="Twitter"><i class="icon-bg-light icon-twitter icon-circled icon-1x active"></i></a></li>
                            <li><a href="#" title="Google plus"><i class="icon-bg-light icon-google-plus icon-circled icon-1x active"></i></a></li>
                            <li><a href="#" title="Linkedin"><i class="icon-bg-light icon-linkedin icon-circled icon-1x active"></i></a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="span8">
                <form method="post" enctype="multipart/form-data" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group span4 text-left">
                            <h4><strong>Contato</strong></h4>
                        </div>
                        <div class="form-group span3" style="text-align:right !important;">
                            <h5 style="color:blue;">@ViewBag.Mensagem</h5> <h5 style="color:red;">@ViewBag.Error</h5>
                        </div>
                    </div>
                    <div class="form-row text-center">
                        <div class="form-group span8">
                            <input type="text" name="nome" class="form-control" id="nome" placeholder="Nome" data-rule="minlen:4" data-msg="Digite pelo menos 4 caracteres!" required />
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-row text-center">
                        <div class="form-group span8">
                            <input type="text" name="empresa" class="form-control" id="empresa" placeholder="Empresa" data-rule="minlen:4" data-msg="Digite pelo menos 4 caracteres!" />
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-row text-center">
                        <div class="form-group span8">
                            <input type="email" class="form-control" name="email" id="email" placeholder="E-mail"
                                   data-rule="email" data-msg="Por favor insira um e-maiil válido!" required />
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-row text-center">
                        <div class="form-group span4">
                            <label>&nbsp;</label>
                            <input type="tel" name="celular" id="txtCelular" pattern="\([0-9]{2}\)[\s][0-9]{5}-[0-9]{4,4}"
                                   class="form-control" placeholder="Celular" data-rule="minlen:11"
                                   data-msg="Digite pelo menos 11 caracteres!" required />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group span3">
                            @Html.LabelFor(model => model.Assunto, new { @class = "col-md-2  form-control" })
                            <select name="assunto" class="form-control" id="assunto" required>
                                <option value=""></option>
                                <option value="Atendimento">Site Moderno</option>
                                <option value="Anúncio Google meu Negócio">Anúncio Google meu Negócio</option>
                                <option value="Marketing Digita">Marketing Digita</option>
                                <option value="Internet WI-FI">Internet WI-FI</option>
                                <option value="Mantutenção">Mantutenção</option>
                                <option value="IRPF">IRPF</option>
                                <option value="ERP">ERP</option>
                                <option value="Sugestão">Sugestão</option>
                                <option value="Pergunta">Pergunta</option>
                                <option value="Reclamação">Reclamação</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row text-center">
                        <div class="form-group span4">
                            <label>&nbsp;</label>
                            <input type="tel" name="foneFixo" id="txtFoneFixo" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"
                                   class="form-control" placeholder="Fone Fixo" data-rule="minlen:10"
                                   data-msg="Digite pelo menos 10 caracteres!" required />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group span3">
                            @Html.LabelFor(model => model.TipoMensagem, new { @class = "col-md-2 cform-control" })
                            <div class="col-md-10">
                                <select name="tipo" class="form-control" id="tipo">
                                    <option value="Contato">Cotação</option>
                                    <option value="Pedido">Pedido</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row text-center">
                        <div class="form-group span8">
                            <textarea class="form-control" name="mensagem" rows="5" data-rule="required"
                                      data-msg="Digite sua mensagem!" placeholder="Comentários" required></textarea>
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-row text-center">
                        <div class="form-group span8">
                            <button id="enviar" class="btn btn-color btn-rounded" type="submit" data-toggle="modal" data-target="#modalMessage">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal -->
            @if (TempData["mailMsg"] != null)
            {
                Html.RenderPartial("_ModalEnviarEmail", TempData["mailMsg"]);
            }
            <!-- end modal-->
        </div>
    </div>
</section>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2867053-3"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-2867053-3');
</script>

