<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Site Tec Sistem Sistemas</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/Content/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/Content/lib/nivo-slider/css/nivo-slider.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/owl.transitions.css" rel="stylesheet">
    <link href="~/Content/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/lib/venobox/venobox.css" rel="stylesheet">

    <!-- Nivo Slider Theme -->
    <link href="~/Content/css/nivo-slider-theme.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- Responsive Stylesheet File -->
    <link href="~/Content/css/responsive.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: eBusiness
      Theme URL: https://bootstrapmade.com/ebusiness-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->

</head>
<body data-spy="scroll" data-target="#navbar-example">
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">

        </main>
    </div>

    <div class="container body-content">
        @Html.Partial("_Menu")
        @RenderBody()
        <hr />
        <br />
        @Html.Partial("_Footer")
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
