<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>@ViewData["Title"] - All Protection Corretora</title>


    <environment include="Development">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link rel="icon" href="https://allprotection.com.br/favicon.ico?v=2" type="image/x-icon" />
        <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">
    </environment>

    @Styles.Render("~/Content/lib/bootstrap/css/bootstrap.css", "~/Content/lib/bootstrap/css/bootstrap.min.css",
    "~/Content/lib/bootstrap/css/bootstrap-responsive.css", "~/Content/lib/animate/animate.min.css",
   "~/Content/lib/ionicons/css/ionicons.min.css", "~/Content/lib/owlcarousel/assets/owl.carousel.min.css",
   "~/Content/lib/lightbox/css/lightbox.min.css", "~/Content/css/style.css")

</head>
<body>

    <div class="container body-content" style="margin-left:0px; margin-right:0px; width:100%; padding-left: 0px; padding-right: 0px;">
        @Html.Partial("_Menu2")

        @RenderBody()

        @Html.Partial("_Footer2")
    </div>


    <environment include="Development">
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>      
    </environment>

    @Scripts.Render("~/Content/js/main2.js")
    @Scripts.Render("~/Content/js/site.js")

    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js")
    @Scripts.Render("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js")


    @Scripts.Render("~/Content/lib/jquery/jquery.min.js")
    @Scripts.Render("~/Content/lib/jquery/jquery-migrate.min.js")
    @Scripts.Render("~/Content/lib/bootstrap/js/bootstrap.bundle.min.js")
    @Scripts.Render("~/Content/lib/easing/easing.min.js")
    @Scripts.Render("~/Content/lib/superfish/hoverIntent.js")
    @Scripts.Render("~/Content/lib/superfish/superfish.min.js")
    @Scripts.Render("~/Content/lib/wow/wow.min.js")
    @Scripts.Render("~/Content/lib/waypoints/waypoints.min.js")
    @Scripts.Render("~/Content/lib/owlcarousel/owl.carousel.min.js")
    @Scripts.Render("~/Content/lib/isotope/isotope.pkgd.min.js")
    @Scripts.Render("~/Content/lib/lightbox/js/lightbox.min.js")
    @Scripts.Render("~/Content/lib/touchSwipe/jquery.touchSwipe.min.js")

    @RenderSection("Scripts", required: false)
</body>
</html>

