<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div id="logo" class="pull-left">
                    <a href="http://allprotectioncorretora.com.br">
                        <img src="~/Content/img/apc/logos/apc_log_338x50_bco.png" style="max-width:115%" />
                    </a>
                </div>
            </div>
            <div class="col-md-9 col-xs-12">
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        @*<li class=""><a href="#intro">Início</a></li>*@
                        <li>@Html.ActionLink("Auto", "Index", "Auto", null, new { @class = "" })</li>
                        <li>@Html.ActionLink("Empresarial", "Index", "Empresarial", null, new { @class = "" })</li>
                        <li>@Html.ActionLink("Condomínio", "Index", "Condominio", null, new { @class = "" })</li>
                        <li>@Html.ActionLink("Transporte", "Index", "Transporte", null, new { @class = "" })</li>
                        <li>@Html.ActionLink("Vida", "Index", "Vida", null, new { @class = "" })</li>
                        <li>@Html.ActionLink("Quem Somos", "Index", "QuemSomos", null, new { @class = "" })</li>
                        <li>@Html.ActionLink("Cotação", "Index", "Cotacao", null, new { @class = "" })</li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
    </div>
</header><!-- #header -->